@{
    ViewBag.Title = "Contact";
}
<br />
<table class="table table-condensed table-bordered">
    <thead>
        <!--Employee Information-->
        <tr>
            <th style="color: aqua; width: 15%">Employee Information</th>
            <th style="width: 15%"></th>
            <th style="width: 15%"></th>
            <th style="width: 15%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-success">First Names</td>
            <td>Marnoux Theo</td>
            <td class="text-success">Date of Birth</td>
            <td>1994-12-10</td>
        </tr>
        <tr>
            <td class="text-success">Surname</td>
            <td>Manser</td>
            <td class="text-success">Identity Number</td>
            <td>9412105060089</td>
        </tr>
        <tr>
            <td class="text-success">Initials</td>
            <td>MT</td>
            <td class="text-success">Cellphone Number</td>
            <td>079 527 0802</td>
        </tr>
        <tr>
            <td class="text-success">Passport Number</td>
            <td>A02430758</td>
            <td class="text-success">Income Tax Ref No</td>
            <td>1869719177</td>
        </tr>
    </tbody>
    <thead>
        <!--Employee Residential Address-->
        <tr>
            <th style="color: aqua; width: 15%">Employee Residential Address</th>
            <th style="width: 15%"></th>
            <th style="color: aqua; width: 15%">Employee Postal Address</th>
            <th style="width: 15%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-success">Complex Number & Name</td>
            <td>15 Fairview</td>
            <td class="text-success">Address line 1</td>
            <td>209 6th Street</td>
        </tr>
        <tr>
            <td class="text-success">Street Number & Name</td>
            <td>50 Sanlam Street</td>
            <td class="text-success">Address line 2</td>
            <td>Rietkol</td>
        </tr>
        <tr>
            <td class="text-success">Suburb</td>
            <td>Lynnwood Manor</td>
            <td class="text-success">Address line 3</td>
            <td>Sundra</td>
        </tr>
        <tr>
            <td class="text-success">City</td>
            <td>Pretoria</td>
            <td class="text-success">Postal Code</td>
            <td>2200</td>
        </tr>
        <tr>
            <td class="text-success">Postal Code</td>
            <td>0081</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <thead>
        <!--Employee Residential Address-->
        <tr>
            <th style="color: aqua; width: 15%">Bank Account Details</th>
            <th style="width: 15%"></th>
            <th style="color: aqua; width: 15%"></th>
            <th style="width: 15%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-success">Account Holder</td>
            <td>MT Manser</td>
            <td class="text-success">Account Type</td>
            <td>Cheque Account</td>
        </tr>
        <tr>
            <td class="text-success">Account Number</td>
            <td>62340255323</td>
            <td class="text-success">Bank Name</td>
            <td>First National Bank</td>
        </tr>
        <tr>
            <td class="text-success">Branch Code</td>
            <td>250655</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>