@{
    ViewBag.Title = "Home Page";
}

<header class="masthead">
    <div class="container d-flex align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Vidly</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Video rental system.</h2>
        </div>
    </div>
</header>